@import "../node_modules/ui-styles/variables";

@size: 1.2em;
@neutralColor: #ccc;

@success: #3c763d;
@successBg: #dff0d8;
@successBrd: #d6e9c6;

@warning: #8a6d3b;
@warningBg: #fcf8e3;
@warningBrd: #faebcc;

@error: #a94442;
@errorBg: #f2dede;
@errorBrd: #ebccd1;

:host {
  display: inline-block;

  .blinky {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    border: 1px solid @neutralColor;
    width: @size;
    height: @size;
    border-radius: 50%;
  }

  .working {
    fill: @neutralColor;

    svg {
      padding-top: 0.125em;
    }
  }

  .good {
    background-color: @successBg;
    border-color: @successBrd;
  }
}
